{% load staticfiles %}
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Recall</title>
    <link rel="stylesheet" href="{% static 'comment/css/form.css' %}">
</head>
<body>
    <div id="error"></div>
    <div id="signin_form"></div>
    <div id="signup_form"></div>
    <span id="change_form">Регистрация</span>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'comment/js/sign.js' %}"></script>
</body>
</html>






